.container {
  padding-left: 20px;
  padding-right: 20px;
  width: auto; }

@media (min-width: 768px) {
  .container {
    padding-left: 30px;
    padding-right: 30px; } }

@media (min-width: 1024px) {
  .container {
    margin: auto;
    padding-left: 40px;
    padding-right: 40px;
    width: 85%; } }

@font-face {
  font-family: 'Muller';
  src: url("../fonts/MullerRegular.woff2") format("woff2"), url("../fonts/MullerRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Muller';
  src: url("../fonts/MullerBold.woff2") format("woff2"), url("../fonts/MullerBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

*,
::before,
::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

*:focus {
  outline: 1px dotted gray;
  -webkit-box-shadow: none;
          box-shadow: none; }

body {
  position: relative;
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  color: #1b212b;
  line-height: 24px;
  font-family: "Muller", "Arial", sans-serif;
  font-size: 16px;
  font-style: normal;
  background-color: #ffffff; }

img {
  max-width: 100%;
  height: auto;
  display: block; }

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none;
  -webkit-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s; }

p {
  margin: 0;
  padding: 0; }

button {
  margin: 0;
  padding: 0;
  border: 0;
  cursor: pointer;
  -webkit-transition: background-color ease-in 0.2s;
  transition: background-color ease-in 0.2s; }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: none;
  clip: rect(0, 0, 0, 0); }

.page {
  position: relative; }

.page__header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0; }

.page__header {
  position: static;
  background-color: #d0f1ff; }

.page-header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 20px; }

.page-header__logo {
  position: relative;
  width: 36px; }
  .page-header__logo span {
    position: absolute;
    bottom: -6px;
    left: 60px;
    display: none;
    width: 100%;
    font-size: 11px;
    line-height: 2.18;
    color: #2a579c; }

.page-header__address {
  display: none; }

.page-header__call {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: right; }

.page-header__phone span,
.page-header__callback span {
  display: none; }

.page-header__phone-icon {
  display: block;
  width: 32px;
  height: 32px; }
  .page-header__phone-icon svg {
    fill: #2a579c; }

@media (min-width: 640px) {
  .page-header__inner {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap; }
  .page-header__logo {
    width: 275px;
    height: 43px; }
    .page-header__logo span {
      bottom: -3px;
      left: 98px;
      display: inline; }
  .page-header__phone {
    display: block;
    font-weight: bold; }
  .page-header__callback {
    display: block;
    font-size: 13px;
    color: #e41a22;
    text-decoration: underline; }
    .page-header__callback span {
      display: block; }
  .page-header__call {
    margin-left: auto;
    width: auto;
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0; }
  .page-header__phone span {
    display: block; }
  .page-header__phone-icon {
    display: none; } }

@media (min-width: 768px) {
  .page__header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0; } }

@media (min-width: 840px) {
  .page-header__address {
    display: block;
    margin-left: 56px; } }

.banner {
  background-image: url("../../img/tank-and-house.png"), -webkit-gradient(linear, left bottom, left top, from(#f7f7f9), to(#d0f1ff)), -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#ffffff));
  background-image: url("../../img/tank-and-house.png"), linear-gradient(to top, #f7f7f9, #d0f1ff), linear-gradient(to bottom, #ffffff, #ffffff);
  background-repeat: no-repeat;
  background-size: 450px, cover;
  background-position: right 234px, 0 0; }

.banner__inner {
  padding-top: 20px;
  min-height: 100vh; }

.banner__title-wrap {
  margin-bottom: 27px; }

.banner__title,
.banner__sub {
  font-size: 30px;
  font-weight: bold;
  line-height: normal;
  letter-spacing: 1.8px;
  text-transform: uppercase; }
  .banner__title span,
  .banner__sub span {
    color: #2a579c; }

.banner__sub {
  font-size: 1rem;
  font-weight: 700;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-transform: none; }

.banner__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: auto; }

.banner__description {
  margin-bottom: 33px;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  line-height: 1.6;
  letter-spacing: normal; }

.banner__order {
  width: 100%;
  margin-bottom: 58px; }

.banner__service {
  width: 100%; }
  .banner__service li {
    position: relative;
    margin-bottom: 52px; }
  .banner__service li:last-child {
    margin-bottom: 0; }
  .banner__service li::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 35px;
    height: 35px;
    background-color: #ffffff;
    border-radius: 50%; }
  .banner__service p {
    margin-left: 60px;
    font-size: 14px;
    line-height: 1.6; }

@media (min-width: 640px) {
  .banner__inner {
    padding-top: 85px; }
  .banner__title {
    font-size: 50px; }
  .banner__sub {
    font-size: 28px; }
  .banner__description {
    font-size: 14px; } }

@media (min-width: 768px) {
  .banner {
    background-size: 1259px auto, cover;
    background-position: right 0, 0 0; }
  .banner__inner {
    padding-top: 120px; }
  .banner__description {
    font-size: 16px; }
  .banner__service {
    width: 100%; }
    .banner__service li {
      margin-bottom: 52px; }
    .banner__service li:last-child {
      margin-bottom: 0; }
    .banner__service li::before {
      width: 40px;
      height: 40px; }
    .banner__service p {
      font-size: 18px; } }

@media (min-width: 1024px) {
  .banner {
    background-position: right 100px, 0 0; }
  .banner__inner {
    padding-top: 115px;
    height: auto; }
  .banner__title-wrap {
    margin-bottom: 37px; }
  .banner__title,
  .banner__sub {
    font-size: 72px;
    text-align: left; }
  .banner__sub {
    font-size: 40px; }
  .banner__content {
    display: block;
    width: 823px; }
  .banner__description {
    padding: 0;
    font-size: 15px;
    text-align: left; }
  .banner__service {
    padding-left: 250px; }
    .banner__service li::before {
      width: 40px;
      height: 40px; }
    .banner__service p {
      font-size: 15px; } }

.nav__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  width: 36px;
  height: 36px;
  border-radius: 6px;
  background-color: #2a579c; }

.nav__icon {
  fill: #ffffff; }

@media (min-width: 640px) {
  .nav__btn {
    margin-left: 26px; } }

.form__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .form__inner input[type="tel"] {
    margin-bottom: 20px;
    padding-left: 10px;
    height: 62px;
    width: 100%;
    font-family: inherit;
    border: none;
    border-radius: 8px;
    -webkit-box-shadow: inset 1.5px 2.6px 7px 0 rgba(27, 33, 43, 0.13);
            box-shadow: inset 1.5px 2.6px 7px 0 rgba(27, 33, 43, 0.13);
    background-color: #ffffff; }
    .form__inner input[type="tel"]::-webkit-input-placeholder {
      font-family: inherit; }
    .form__inner input[type="tel"]::-moz-placeholder {
      font-family: inherit; }
    .form__inner input[type="tel"]:-ms-input-placeholder {
      font-family: inherit; }
    .form__inner input[type="tel"]::-ms-input-placeholder {
      font-family: inherit; }
    .form__inner input[type="tel"]::placeholder {
      font-family: inherit; }
  .form__inner input[type="submit"],
  .form__inner button {
    margin-bottom: 20px;
    width: 100%;
    height: 67px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.71;
    text-transform: uppercase;
    border: none;
    border-radius: 8px;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#f04b47), to(#eb1a23));
    background-image: linear-gradient(to top, #f04b47, #eb1a23);
    -webkit-box-shadow: inset 0 -5px 0 0 #c3141b;
            box-shadow: inset 0 -5px 0 0 #c3141b; }
    .form__inner input[type="submit"]:hover, .form__inner input[type="submit"]:focus,
    .form__inner button:hover,
    .form__inner button:focus {
      opacity: 0.5; }
  .form__inner button {
    margin-bottom: 0;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#1f98cd), to(#147eaf));
    background-image: linear-gradient(to top, #1f98cd, #147eaf);
    -webkit-box-shadow: inset 0 -5px 0 0 #2a579c;
            box-shadow: inset 0 -5px 0 0 #2a579c; }

@media (min-width: 640px) {
  .form__inner {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .form__inner input[type="tel"] {
      margin: 0;
      width: 270px; }
    .form__inner input[type="submit"],
    .form__inner button {
      margin: 0;
      width: 140px;
      font-size: 10px; } }

@media (min-width: 768px) {
  .form__inner input[type="submit"],
  .form__inner button {
    margin: 0;
    width: 240px;
    height: 67px;
    font-size: 14px; }
    .form__inner input[type="submit"] span,
    .form__inner button span {
      max-width: 184px; }
  .form__inner input[type="submit"] {
    margin-left: -37px;
    margin-right: 37px; } }

.logo__shape {
  width: 360px; }

.logo__shape-text {
  display: none; }

@media (min-width: 640px) {
  .logo__shape {
    width: auto; }
  .logo__shape-text {
    display: block; } }

/*# sourceMappingURL=index.css.map */
