.container {
  padding-left: 20px;
  padding-right: 20px;
  width: auto; }

@media (min-width: 768px) {
  .container {
    margin: auto;
    padding-left: 30px;
    padding-right: 30px;
    width: 768px; } }

@media (min-width: 1300px) {
  .container {
    margin: auto;
    padding-left: 40px;
    padding-right: 40px;
    width: 1300px; } }

@font-face {
  font-family: 'Muller';
  src: url("../fonts/MullerRegular.woff2") format("woff2"), url("../fonts/MullerRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Muller';
  src: url("../fonts/MullerBold.woff2") format("woff2"), url("../fonts/MullerBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

*,
::before,
::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

*:focus {
  outline: 1px dotted gray;
  -webkit-box-shadow: none;
          box-shadow: none; }

body {
  position: relative;
  margin: 0;
  padding: 0;
  min-width: 120px;
  min-height: 760px;
  color: #1b212b;
  line-height: 24px;
  font-family: "Muller", "Arial", sans-serif;
  font-size: 16px;
  font-style: normal;
  background-color: #ffffff; }

img {
  max-width: 100%;
  height: auto;
  display: block; }

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none;
  -webkit-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s; }

p {
  margin: 0;
  padding: 0; }

button {
  margin: 0;
  padding: 0;
  border: 0;
  cursor: pointer;
  -webkit-transition: background-color ease-in 0.2s;
  transition: background-color ease-in 0.2s; }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: none;
  clip: rect(0, 0, 0, 0); }

.page {
  position: relative; }

.page__header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0; }

.page-header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 27px; }

.page-header__address {
  margin-left: 56px; }

.page-header__call {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: right;
  margin-left: auto; }

.page-header__phone {
  font-weight: bold; }

.page-header__callback {
  font-size: 13px;
  color: #e41a22;
  text-decoration: underline; }

.banner {
  background-image: url("../../img/tank-and-house.png"), -webkit-gradient(linear, left bottom, left top, from(#f7f7f9), to(#d0f1ff)), -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#ffffff));
  background-image: url("../../img/tank-and-house.png"), linear-gradient(to top, #f7f7f9, #d0f1ff), linear-gradient(to bottom, #ffffff, #ffffff);
  background-size: 1259px 813px, cover;
  background-repeat: no-repeat;
  background-position: 130% 100px, 0 0; }

.banner__inner {
  height: 820px; }

.nav__btn {
  margin-left: 26px;
  width: 36px;
  height: 36px;
  border-radius: 6px;
  background-color: #2a579c; }

.nav__icon {
  fill: #ffffff; }

/*# sourceMappingURL=index.css.map */
